body{
    color: #444;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: left;
}

/* FIXED-CONTAINER  */

.fixed-container{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 99;
}

.fix{
    width: 90%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
        
}
.logo{
    margin-top: 15px;
    text-align: center;
}

.navigation{
    margin-top: 15px;
}
.logo h1 a{
    font-size: 28px;
    text-decoration: none;
    color:#fff;
    padding: 5px;
    font-weight: bold;

}

.logo h1 a span{
    color: blue;
}
.navigation .nav {
    list-style: none;
    display: none;
}
.navigation i{
    font-size: 20px;
    padding: 5px;
    color: #fff;
}

.header-details{
    margin:auto;
    width: 100%;
    text-align: center;
    color: #fff;
}
.header-details h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    padding-top: 180px;
}
.header-details p{
    font-size: 28px;
    margin-top: 30px;
    line-height: 1.2;
}
.header-details button{
    margin: 40px 0px 50px 0px;
    border: none;
    background: transparent;
}
.header-details button a{
    text-decoration: none;
    font-size: 16px;
    padding: 12px 32px;
    background-color: #3ec1d5;
    display: inline-block;
    margin: 10px;
    border-radius: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff;
}
.header-image{
    background-image: url(images/1.jpg);
    background-position: center;
    background-size: cover;
}
.header-color{
    background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width:576px){
    .fixed-container{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 99;
    }
    
    .fix{
        width: 540px;
        height: 60px;
        margin: auto;
        display: flex;
        justify-content: space-between;
            
    }
    .logo{
        margin-top: 15px;
        text-align: center;
    }
    
    .navigation{
        margin-top: 15px;
    }
    .logo h1 a{
        font-size: 28px;
        text-decoration: none;
        color:#fff;
        padding: 5px;
        font-weight: bold;
    
    }
    
    .logo h1 a span{
        color: blue;
    }
    .navigation .nav {
        list-style: none;
        display: none;
    }
    .navigation i{
        font-size: 28px;
        padding: 5px;
        color: #fff;
    }
    .container{
        width: 100%;
    }
    
    .header-details{
        margin:auto;
        width: 540px;
        text-align: center;
        color: #fff;
        height: 100vh;
    }
    .header-details h2{
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        padding-top: 180px;
    }
    .header-details p{
        font-size: 28px;
        margin-top: 30px;
        line-height: 1.2;
    }
    .header-details button{
        margin: 40px 0px 50px 0px;
        border: none;
        background: transparent;
    }
    .header-details button a{
        text-decoration: none;
        font-size: 16px;
        padding: 12px 32px;
        background-color: #3ec1d5;
        display: inline-block;
        margin: 10px;
        border-radius: 50px;
        font-weight: 500;
        letter-spacing: 2px;
        color: #fff;
    }
    .header-image{
        background-image: url(images/1.jpg);
        background-position: center;
        background-size: cover;
    }
    .header-color{
        background-color: rgba(0, 0, 0, 0.7);
    }
}
@media (min-width:768px){
    .fixed-container{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 99;
    }
    
    .fix{
        width: 720px;
        height: 60px;
        margin: auto;
        display: flex;
        justify-content: space-between;
            
    }
    .logo{
        margin-top: 15px;
        text-align: center;
    }
    
    .navigation{
        margin-top: 15px;
    }
    .logo h1 a{
        font-size: 36px;
        text-decoration: none;
        color:#fff;
        padding: 5px;
        font-weight: bold;
    
    }
    
    .logo h1 a span{
        color: blue;
    }
    .navigation .nav {
        list-style: none;
        display: none;
    }
    .navigation i{
        font-size: 36px;
        padding: 5px;
        color: #fff;
    }
    .container{
        width: 100%;
    }
    .header-details{
        margin:auto;
        width: 720px;
        text-align: center;
        color: #fff;
    }
    .header-details h2{
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        padding-top: 180px;
    }
    .header-details p{
        font-size: 38px;
        margin-top: 30px;
        line-height: 1.2;
    }
    .header-details button{
        margin: 40px 0px 50px 0px;
        border: none;
        background: transparent;
    }
    .header-details button a{
        text-decoration: none;
        font-size: 16px;
        padding: 12px 32px;
        background-color: #3ec1d5;
        display: inline-block;
        margin: 10px;
        border-radius: 50px;
        font-weight: 500;
        letter-spacing: 2px;
        color: #fff;
    }
    .header-image{
        background-image: url(images/1.jpg);
        background-position: center;
        background-size: cover;
    }
    .header-color{
        background-color: rgba(0, 0, 0, 0.7);
    }
}

@media (min-width:992px){
    .fixed-container{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 99;
    }
    
    .fix{
        width: 960px;
        height: 60px;
        margin: auto;
        display: flex;
        justify-content: space-between;
            
    }
    .logo{
        margin-top: 15px;
        text-align: center;
    }
    
    .navigation{
        margin-top: 15px;
    }
    .logo h1 a{
        font-size: 36px;
        text-decoration: none;
        color:#fff;
        padding: 5px;
        font-weight: bold;
        line-height: 1;
    
    }
    
    .logo h1 a span{
        color: blue;
    }
    .navigation .nav {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        color: #fff;
    }
    .nav .nav-link .color{
        color: #3ec1d5;
    }
    .nav .nav-link  a{
        font-size: 15px;
        text-decoration: none; 
        display: flex;
        font-weight: 500;
        padding:10px 10px 10px 30px;
        color: #fff;
    }
    .dd-name {
        font-size: 15px;
        text-decoration: none; 
        display: flex;
        font-weight: 500;
        padding:10px 10px 10px 30px;
        color: #fff;
    }
    .nav li a:hover{
        color: #3ec1d5;
    }
    .dd-list{
        position: relative;
    }
    .dd-list .icofont-rounded-down{
        font-size: 20px;
        display: block;
        position:absolute;
        right: -18px;
        top: 3px;
    }
    .dd-list a:hover  i{
        color: #3ec1d5;
    }
    
    .dropdown{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        opacity: 0;
        top: 45px;
        left: -35px;
        list-style: none;
        box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
        transition: 0.3s;
        padding: 10px;
    }
    .dd-list:hover .dropdown{
        opacity: 1;
        visibility: visible;
    }
    .down-list{
        min-width: 180px;
        position: relative;
    }
    .down-list .icofont-rounded-right{
        right: 0;
        position: absolute;
        display: block;
        color: #444;
        top: -6px;
    }
    .down-list{
        margin: 15px;
    }
    .down-list a{
        text-decoration: none;
        color: #444;
        font-size: 15px;
    }
    .down-list2{
        min-width: 180px;
        margin: 15px;
    }
    .dd-list2{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        opacity: 0;
        top: 45px;
        right: 205px;
        list-style: none;
        box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
        transition: 0.3s;
        padding: 10px;
    }
    .down-list:hover .dd-list2{
        opacity: 1;
        visibility: visible;
    }

     .navigation i{
        font-size: 20px;
        padding: 5px;
        color: #fff;
        display: none;
    }
    
    .header-details{
        margin:auto;
        width: 960px;
        text-align: center;
        color: #fff;
    }
    .header-details h2{
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        padding-top: 250px;
    }
    .container{
        width:100%;
    }
    .header-details p{
        font-size: 38px;
        margin-top: 30px;
        line-height: 1.2;
    }
    .header-details button{
        margin: 40px 0px 50px 0px;
        border: none;
        background: transparent;
    }
    .header-details button a{
        text-decoration: none;
        font-size: 16px;
        padding:  12px 32px;
        background-color: #3ec1d5;
        display: inline-block;
        margin: 10px;
        border-radius: 50px;
        font-weight: 500;
        letter-spacing: 2px;
        color: #fff;
    }
    .header-image{
        background-image: url(images/1.jpg);
        background-position: center;
        background-size: cover;
    }
    .header-color{
        background-color: rgba(0, 0, 0, 0.7);
    }
}
@media (min-width:1200px){
    .fixed-container{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 99;
    }
    
    .fix{
        width: 1185px;
        height: 60px;
        margin: auto;
        display: flex;
        justify-content: space-between;
            
    }
    .logo{
        margin-top: 15px;
        text-align: center;
    }
    
    .navigation{
        margin-top: 15px;
    }
    .logo h1 a{
        font-size: 36px;
        text-decoration: none;
        color:#fff;
        padding: 5px;
        font-weight: bold;
    
    }
    
    .logo h1 a span{
        color: blue;
    }
    .navigation .nav {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        color: #fff;
    }
    .nav li .color{
        color: #3ec1d5;
    }
    .nav .nav-link  a{
        font-size: 15px;
        text-decoration: none; 
        display: flex;
        font-weight: 500;
        padding:10px 10px 10px 30px;
        color: #fff;
    }
    .dd-name {
        font-size: 15px;
        text-decoration: none; 
        display: flex;
        font-weight: 500;
        padding:10px 10px 10px 30px;
        color: #fff;
    }
    .nav li a:focus{
        color: #3ec1d5;
    }
    .dd-list{
        position: relative;
    }
    .dd-list .icofont-rounded-down{
        font-size: 20px;
        display: block;
        position:absolute;
        right: -18px;
        top: 3px;
    }
    .dd-list a:focus  i{
        color: #3ec1d5;
    }
    
    .dropdown{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        opacity: 0;
        top: 45px;
        left: -35px;
        list-style: none;
        box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
        transition: 0.3s;
        padding: 10px;
    }
    .dd-list:hover .dropdown{
        opacity: 1;
        visibility: visible;
    }
    .down-list{
        min-width: 180px;
        position: relative;
    }
    .down-list .icofont-rounded-right{
        right: 0;
        position: absolute;
        display: block;
        color: #444;
        top: -6px;
    }
    .down-list{
        margin: 15px;
    }
    .down-list a{
        text-decoration: none;
        color: #444;
        font-size: 15px;
    }
    .down-list2{
        min-width: 180px;
        margin: 15px;
    }
    .dd-list2{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        opacity: 0;
        top: 45px;
        right: 205px;
        list-style: none;
        box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
        transition: 0.3s;
        padding: 10px;
    }
    .down-list:hover .dd-list2{
        opacity: 1;
        visibility: visible;
    }

     .navigation i{
        font-size: 20px;
        padding: 5px;
        color: #fff;
        display: none;
    }
    
    .header-details{
        margin:auto;
        width: 1185px;
        height: auto;
        text-align: center;
        color: #fff;
    }
    .header-details h2{
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        padding-top: 350px;
    }
    .container{
        width:100%;
    }
    .header-details p{
        font-size: 38px;
        margin: 30px 250px;
        line-height: 1.2;
    }
    .header-details button{
        margin: 40px 0px 50px 0px;
        border: none;
        background: transparent;
    }
    .header-details button a{
        text-decoration: none;
        font-size: 16px;
        padding:  12px 32px;
        background-color: #3ec1d5;
        display: inline-block;
        margin: 10px;
        border-radius: 50px;
        font-weight: 500;
        letter-spacing: 2px;
        color: #fff;
    }
    .header-image{
        background-image: url(images/1.jpg);
        background-position: center;
        background-size: cover;
    }
    .header-color{
        background-color: rgba(0, 0, 0, 0.7);
    }
  }
@media (min-width:1400px){
    .fixed-container{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 99;
    }
    
    .fix{
        width: 1320px;
        height: 60px;
        margin: auto;
        display: flex;
        justify-content: space-between;
            
    }
    .logo{
        margin-top: 15px;
        text-align: center;
    }
    
    .navigation{
        margin-top: 15px;
    }
    .logo h1 a{
        font-size: 36px;
        text-decoration: none;
        color:#fff;
        padding: 5px;
        font-weight: bold;
    
    }
    
    .logo h1 a span{
        color: blue;
    }
    .navigation .nav {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        color: #fff;
    }
    .nav li .color{
        color: #3ec1d5;
    }
    .nav .nav-link  a{
        font-size: 15px;
        text-decoration: none; 
        display: flex;
        font-weight: 500;
        padding:10px 10px 10px 30px;
        color: #fff;
    }
    .dd-name {
        font-size: 15px;
        text-decoration: none; 
        display: flex;
        font-weight: 500;
        padding:10px 10px 10px 30px;
        color: #fff;
    }
    .nav li a:focus{
        color: #3ec1d5;
    }
    .dd-list{
        position: relative;
    }
    .dd-list .icofont-rounded-down{
        font-size: 20px;
        display: block;
        position:absolute;
        right: -18px;
        top: 3px;
    }
    .dd-list a:focus  i{
        color: #3ec1d5;
    }
    
    .dropdown{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        opacity: 0;
        top: 45px;
        left: -35px;
        list-style: none;
        box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
        transition: 0.3s;
        padding: 10px;
    }
    .dd-list:hover .dropdown{
        opacity: 1;
        visibility: visible;
    }
    .down-list{
        min-width: 180px;
        position: relative;
    }
    .down-list .icofont-rounded-right{
        right: 0;
        position: absolute;
        display: block;
        color: #444;
        top: -6px;
    }
    .down-list{
        margin: 15px;
    }
    .down-list a{
        text-decoration: none;
        color: #444;
        font-size: 15px;
    }
    .down-list2{
        min-width: 180px;
        margin: 15px;
    }
    .dd-list2{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        opacity: 0;
        top: 45px;
        right: 205px;
        list-style: none;
        box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
        transition: 0.3s;
        padding: 10px;
    }
    .down-list:hover .dd-list2{
        opacity: 1;
        visibility: visible;
    }

     .navigation i{
        font-size: 20px;
        padding: 5px;
        color: #fff;
        display: none;
    }
    
    .header-details{
        margin:auto;
        width: 1320px;
        text-align: center;
        color: #fff;
        padding-bottom: 50px;
    }
    .header-details h2{
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        padding-top: 350px;
    }
    .container{
        width:100%;
    }
    .header-details p{
        font-size: 38px;
        margin: 30px 250px;
        line-height: 1.2;
    }
    .header-details button{
        margin: 40px 0px 100px 0px;
        border: none;
        background: transparent;
    }
    .header-details button a{
        text-decoration: none;
        font-size: 16px;
        padding:  12px 32px;
        background-color: #3ec1d5;
        display: inline-block;
        margin: 10px;
        border-radius: 50px;
        font-weight: 500;
        letter-spacing: 2px;
        color: #fff;
    }
    .header-image{
        background-image: url(images/1.jpg);
        background-position: center;
        background-size: cover;
        /* position: relative; */
    }
    .header-color{
        background-color: rgba(0, 0, 0, 0.7);
    }
}

