body{
    color: #444;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: left;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    margin: 0 0 15px;
    color: #444}

/* FIXED-CONTAINER  */

.fixed-container{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 99;
}

.fix{
    width: 90%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: space-between;
        
}
.logo{
    margin-top: 15px;
    text-align: center;
}

.navigation{
    margin-top: 15px;
}
.logo h1 a{
    font-size: 28px;
    text-decoration: none;
    color:#fff;
    padding: 5px;
    font-weight: bold;

}

.logo h1 a span{
    color: blue;
}
.navigation .nav {
    list-style: none;
    display: none;
}
.navigation i{
    font-size: 20px;
    padding: 5px;
    color: #fff;
}

.header-details{
    margin:auto;
    height: auto;
    width: 100%;
    text-align: center;
    color: #fff;
}
.header-details h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    padding-top: 180px;
    color: #fff;
}
.header-details p{
    font-size: 28px;
    margin: 30px 100px;
    line-height: 1.2;
}
.header-details button{
    margin: 40px 0px 50px 0px;
    border: none;
    background: transparent;
}
.header-details button a{
    text-decoration: none;
    font-size: 16px;
    padding: 12px 32px;
    background-color: #3ec1d5;
    display: inline-block;
    margin: 10px;
    border-radius: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff;
}
.header-image{
    background-image: url(images/1.jpg);
    background-position: center;
    background-size: cover;
}
.header-color{
    background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width:576px){
    .fixed-container{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 99;
    }
    
    .fix{
        width: 540px;
        height: 60px;
        margin: auto;
        display: flex;
        justify-content: space-between;
            
    }
    .logo{
        margin-top: 15px;
        text-align: center;
    }
    
    .navigation{
        margin-top: 15px;
    }
    .logo h1 a{
        font-size: 28px;
        text-decoration: none;
        color:#fff;
        padding: 5px;
        font-weight: bold;
    
    }
    
    .logo h1 a span{
        color: blue;
    }
    .navigation .nav {
        list-style: none;
        display: none;
    }
    .navigation i{
        font-size: 28px;
        padding: 5px;
        color: #fff;
    }
    .container{
        width: 100%;
    }
    
    .header-details{
        margin:auto;
        height: auto;
        width: 540px;
        text-align: center;
        color: #fff;
        height: 100vh;
    }
    .header-details h2{
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        padding-top: 180px;
    }
    .header-details p{
        font-size: 28px;
        margin-top: 30px;
        line-height: 1.2;
    }
    .header-details button{
        margin: 40px 0px 50px 0px;
        border: none;
        background: transparent;
    }
    .header-details button a{
        text-decoration: none;
        font-size: 16px;
        padding: 12px 32px;
        background-color: #3ec1d5;
        display: inline-block;
        margin: 10px;
        border-radius: 50px;
        font-weight: 500;
        letter-spacing: 2px;
        color: #fff;
    }
    .header-image{
        background-image: url(images/1.jpg);
        background-position: center;
        background-size: cover;
    }
    .header-color{
        background-color: rgba(0, 0, 0, 0.7);
    }
}
@media (min-width:768px){
    .fixed-container{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 99;
    }
    
    .fix{
        width: 720px;
        height: 60px;
        margin: auto;
        display: flex;
        justify-content: space-between;
            
    }
    .logo{
        margin-top: 15px;
        text-align: center;
    }
    
    .navigation{
        margin-top: 15px;
    }
    .logo h1 a{
        font-size: 36px;
        text-decoration: none;
        color:#fff;
        padding: 5px;
        font-weight: bold;
    
    }
    
    .logo h1 a span{
        color: blue;
    }
    .navigation .nav {
        list-style: none;
        display: none;
    }
    .navigation i{
        font-size: 36px;
        padding: 5px;
        color: #fff;
    }
    .container{
        width: 100%;
    }
    .header-details{
        margin:auto;
        height: auto;
        width: 720px;
        text-align: center;
        color: #fff;
    }
    .header-details h2{
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        padding-top: 180px;
    }
    .header-details p{
        font-size: 38px;
        margin-top: 30px;
        line-height: 1.2;
    }
    .header-details button{
        margin: 40px 0px 50px 0px;
        border: none;
        background: transparent;
    }
    .header-details button a{
        text-decoration: none;
        font-size: 16px;
        padding: 12px 32px;
        background-color: #3ec1d5;
        display: inline-block;
        margin: 10px;
        border-radius: 50px;
        font-weight: 500;
        letter-spacing: 2px;
        color: #fff;
    }
    .header-image{
        background-image: url(images/1.jpg);
        background-position: center;
        background-size: cover;
    }
    .header-color{
        background-color: rgba(0, 0, 0, 0.7);
    }
}

@media (min-width:992px){
    .fixed-container{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 99;
    }
    
    .fix{
        width: 960px;
        height: 60px;
        margin: auto;
        display: flex;
        justify-content: space-between;
            
    }
    .logo{
        margin-top: 15px;
        text-align: center;
    }
    
    .navigation{
        margin-top: 15px;
    }
    .logo h1 a{
        font-size: 36px;
        text-decoration: none;
        color:#fff;
        padding: 5px;
        font-weight: bold;
        line-height: 1;
    
    }
    
    .logo h1 a span{
        color: blue;
    }
    .navigation .nav {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        color: #fff;
    }
    .nav .nav-link .color{
        color: #3ec1d5;
    }
    .nav .nav-link  a{
        font-size: 15px;
        text-decoration: none; 
        display: flex;
        font-weight: 500;
        padding:10px 10px 10px 30px;
        color: #fff;
    }
    .dd-name {
        font-size: 15px;
        text-decoration: none; 
        display: flex;
        font-weight: 500;
        padding:10px 10px 10px 30px;
        color: #fff;
    }
    .nav li a:hover{
        color: #3ec1d5;
    }
    .dd-list{
        position: relative;
    }
    .dd-list .icofont-rounded-down{
        font-size: 20px;
        display: block;
        position:absolute;
        right: -18px;
        top: 3px;
    }
    .dd-list a:hover  i{
        color: #3ec1d5;
    }
    
    .dropdown{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        opacity: 0;
        top: 45px;
        left: -35px;
        list-style: none;
        box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
        transition: 0.3s;
        padding: 10px;
    }
    .dd-list:hover .dropdown{
        opacity: 1;
        }
    .down-list{
        min-width: 180px;
        position: relative;
    }
    .down-list .icofont-rounded-right{
        right: 0;
        position: absolute;
        display: block;
        color: #444;
        top: -6px;
    }
    .down-list{
        margin: 15px;
    }
    .down-list a{
        text-decoration: none;
        color: #444;
        font-size: 15px;
    }
    .down-list2{
        min-width: 180px;
        margin: 15px;
    }
    .dd-list2{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        opacity: 0;
        top: 45px;
        right: 205px;
        list-style: none;
        box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
        transition: 0.3s;
        padding: 10px;
    }
    .down-list:hover .dd-list2{
        opacity: 1;
    }

     .navigation i{
        font-size: 20px;
        padding: 5px;
        color: #fff;
        display: none;
    }
    
    .header-details{
        margin:auto;
        height: auto;
        width: 960px;
        text-align: center;
        color: #fff;
    }
    .header-details h2{
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        padding-top: 250px;
    }
    .container{
        width:100%;
    }
    .header-details p{
        font-size: 38px;
        margin: 30px 120px;
        line-height: 1.2;
    }
    .header-details button{
        margin: 40px 0px 50px 0px;
        border: none;
        background: transparent;
    }
    .header-details button a{
        text-decoration: none;
        font-size: 16px;
        padding:  12px 32px;
        background-color: #3ec1d5;
        display: inline-block;
        margin: 10px;
        border-radius: 50px;
        font-weight: 500;
        letter-spacing: 2px;
        color: #fff;
    }
    .header-image{
        background-image: url(images/1.jpg);
        background-position: center;
        background-size: cover;
    }
    .header-color{
        background-color: rgba(0, 0, 0, 0.7);
    }
}
@media (min-width:1200px){
    .fixed-container{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 99;
    }
    
    .fix{
        width: 1185px;
        height: 60px;
        margin: auto;
        display: flex;
        justify-content: space-between;
            
    }
    .logo{
        margin-top: 15px;
        text-align: center;
    }
    
    .navigation{
        margin-top: 15px;
    }
    .logo h1 a{
        font-size: 36px;
        text-decoration: none;
        color:#fff;
        padding: 5px;
        font-weight: bold;
    
    }
    
    .logo h1 a span{
        color: blue;
    }
    .navigation .nav {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        color: #fff;
    }
    .nav li .color{
        color: #3ec1d5;
    }
    .nav .nav-link  a{
        font-size: 15px;
        text-decoration: none; 
        display: flex;
        font-weight: 500;
        padding:10px 10px 10px 30px;
        color: #fff;
    }
    .dd-name {
        font-size: 15px;
        text-decoration: none; 
        display: flex;
        font-weight: 500;
        padding:10px 10px 10px 30px;
        color: #fff;
    }
    .nav li a:focus{
        color: #3ec1d5;
    }
    .dd-list{
        position: relative;
    }
    .dd-list .icofont-rounded-down{
        font-size: 20px;
        display: block;
        position:absolute;
        right: -18px;
        top: 3px;
    }
    .dd-list a:focus  i{
        color: #3ec1d5;
    }
    
    .dropdown{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        opacity: 0;
        top: 45px;
        left: -35px;
        list-style: none;
        box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
        transition: 0.3s;
        padding: 10px;
    }
    .dd-list:hover .dropdown{
        opacity: 1;
    }
    .down-list{
        min-width: 180px;
        position: relative;
    }
    .down-list .icofont-rounded-right{
        right: 0;
        position: absolute;
        display: block;
        color: #444;
        top: -6px;
    }
    .down-list{
        margin: 15px;
    }
    .down-list a{
        text-decoration: none;
        color: #444;
        font-size: 15px;
    }
    .down-list2{
        min-width: 180px;
        margin: 15px;
    }
    .dd-list2{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        opacity: 0;
        top: 45px;
        right: 205px;
        list-style: none;
        box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
        transition: 0.3s;
        padding: 10px;
    }
    .down-list:hover .dd-list2{
        opacity: 1;
    }

     .navigation i{
        font-size: 20px;
        padding: 5px;
        color: #fff;
        display: none;
    }
    
    .header-details{
        margin:auto;
        height: auto;
        width: 1185px;
        height: auto;
        text-align: center;
        color: #fff;
    }
    .header-details h2{
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        padding-top: 250px;
    }
    .container{
        width:100%;
    }
    .header-details p{
        font-size: 38px;
        margin: 30px 280px;
        line-height: 1.2;
    }
    .header-details button{
        margin: 40px 0px 100px 0px;
        border: none;
        background: transparent;
    }
    .header-details button a{
        text-decoration: none;
        font-size: 16px;
        padding:  12px 32px;
        background-color: #3ec1d5;
        display: inline-block;
        margin: 10px;
        border-radius: 50px;
        font-weight: 500;
        letter-spacing: 2px;
        color: #fff;
    }
    .header-image{
        background-image: url(images/1.jpg);
        background-position: center;
        background-size: cover;
    }
    .header-color{
        background-color: rgba(0, 0, 0, 0.7);
    }
  }
@media (min-width:1400px){
    .fixed-container{
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        z-index: 99;
    }
    
    .fix{
        width: 1320px;
        height: 60px;
        margin: auto;
        display: flex;
        justify-content: space-between;
            
    }
    .logo{
        margin-top: 15px;
        text-align: center;
    }
    
    .navigation{
        margin-top: 15px;
    }
    .logo h1 a{
        font-size: 36px;
        text-decoration: none;
        color:#fff;
        padding: 5px;
        font-weight: bold;
    
    }
    
    .logo h1 a span{
        color: blue;
    }
    .navigation .nav {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        color: #fff;
    }
    .nav li .color{
        color: #3ec1d5;
    }
    .nav .nav-link  a{
        font-size: 15px;
        text-decoration: none; 
        display: flex;
        font-weight: 500;
        padding:10px 10px 10px 30px;
        color: #fff;
    }
    .dd-name {
        font-size: 15px;
        text-decoration: none; 
        display: flex;
        font-weight: 500;
        padding:10px 10px 10px 30px;
        color: #fff;
    }
    .nav li a:focus{
        color: #3ec1d5;
    }
    .dd-list{
        position: relative;
    }
    .dd-list .icofont-rounded-down{
        font-size: 20px;
        display: block;
        position:absolute;
        right: -18px;
        top: 3px;
    }
    .dd-list a:focus  i{
        color: #3ec1d5;
    }
    
    .dropdown{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        opacity: 0;
        top: 45px;
        left: -35px;
        list-style: none;
        box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
        transition: 0.3s;
        padding: 10px;
    }
    .dd-list:hover .dropdown{
        opacity: 1;
    }
    .down-list{
        min-width: 180px;
        position: relative;
    }
    .down-list .icofont-rounded-right{
        right: 0;
        position: absolute;
        display: block;
        color: #444;
        top: -6px;
    }
    .down-list{
        margin: 15px;
    }
    .down-list a{
        text-decoration: none;
        color: #444;
        font-size: 15px;
    }
    .down-list2{
        min-width: 180px;
        margin: 15px;
    }
    .dd-list2{
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #fff;
        opacity: 0;
        top: 45px;
        right: 205px;
        list-style: none;
        box-shadow: 0px 0px 30px rgb(127 137 161 / 25%);
        transition: 0.3s;
        padding: 10px;
    }
    .down-list:hover .dd-list2{
        opacity: 1;
        visibility: visible;
    }

     .navigation i{
        font-size: 20px;
        padding: 5px;
        color: #fff;
        display: none;
    }
    
    .header-details{
        margin:auto;
        height: auto;
        width: 1320px;
        text-align: center;
        color: #fff;
        padding-bottom: 50px;
    }
    .header-details h2{
        font-size: 24px;
        font-weight: 700;
        line-height: 1.2;
        padding-top: 250px;
    }
    .container{
        width:100%;
    }
    .header-details p{
        font-size: 38px;
        margin: 30px 250px;
        line-height: 1.2;
    }
    .header-details button{
        margin: 40px 0px 100px 0px;
        border: none;
        background: transparent;
    }
    .header-details button a{
        text-decoration: none;
        font-size: 16px;
        padding:  12px 32px;
        background-color: #3ec1d5;
        display: inline-block;
        margin: 10px;
        border-radius: 50px;
        font-weight: 500;
        letter-spacing: 2px;
        color: #fff;
    }
    .header-image{
        background-image: url(images/1.jpg);
        background-position: center;
        background-size: cover;
        /* position: relative; */
    }
    .header-color{
        background-color: rgba(0, 0, 0, 0.7);
    }
}

/* ABOUT-CONTAINER  */

.about-container{
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    /* text-align: left; */
    padding: 70px 0px 80px 0px;
}
.about-head h2{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 70px;
    text-align: center;
    position: relative;
}
.about-head h2::after{
    content: "";
    position: absolute;
    border: 1px solid #333 ;
    width: 30%;
    bottom: -20px;
    left: 0px;
    right: 0;
    margin: auto;
}
.about-left{
    margin-bottom: 40px;
}
.about-left img{
    max-width: 100%;
    height: auto;
}
.about-right{
    margin-bottom: 20px;
}
.about-right a{
    text-decoration: none;
    display: inline-block;
}
.about-right h4{
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
}
.about-right p{
    font-size: 14px;
    line-height: 22px;
    color: #444;
    padding-top: 10px;
}
.about-right ul{
    list-style: none;
    padding: 0;
    margin-top: 15px;
}
.about-right ul li{
    padding: 5px;
    color: #444;
    display: block;
}
.about-right ul li i{
    color: #3EC1D5;
    margin-right: 5px;
    font-size: 18px;
}
.about-color{
    background-color: #f9f9f9;
}
@media (min-width:576px){

    .about-container{
        width: 540px;
        margin: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        /* text-align: center; */
        padding: 70px 0px 80px 0px;
    }
    .about-head h2{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 70px;
        text-align: center;
        position: relative;
    }
    .about-head h2::after{
        content: "";
        position: absolute;
        border: 1px solid #333 ;
        width: 30%;
        bottom: -20px;
        left: 0px;
        right: 0;
        margin: auto;
    }
    .about-foot{
        display: flex;
        flex-direction: row;

        height: auto;
    }
    .about-left{
        width:50% ;
        padding: 10px;
    }
    .about-left img{
        max-width: 100%;
        height: auto;
    }
    .about-right{
        width: 50%;
        padding: 7px;
        margin-top: 40px;
    }
    .about-right a{
        text-decoration: none;
        display: inline-block;
    }
    .about-right h4{
        font-size: 17px;
        font-weight: 600;
        text-decoration: none;
    }
    .about-right p{
        font-size: 14px;
        line-height: 22px;
        color: #444;
        padding-top: 10px;
    }
    .about-right ul{
        list-style: none;
        padding: 0;
        margin-top: 15px;
    }
    .about-right ul li{
        padding: 5px 0px;
        color: #444;
        /* display: block; */
    }
    .about-right ul li i{
        color: #3EC1D5;
        margin-right: 5px;
        font-size: 18px;
    }
    .about-color{
        background-color: #f9f9f9;
    }
}
@media (min-width:768px){
    .about-container{
        width: 720px;
        margin: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        /* text-align: center; */
        padding: 70px 0px 80px 0px;
    }
    .about-head h2{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 70px;
        text-align: center;
        position: relative;
    }
    .about-head h2::after{
        content: "";
        position: absolute;
        border: 1px solid #333 ;
        width: 15%;
        bottom: -20px;
        left: 0px;
        right: 0;
        margin: auto;
    }
    .about-foot{
        display: flex;
        flex-direction: row;

        height: auto;
    }
    .about-left{
        width:50% ;
        padding: 10px;
    }
    .about-left img{
        max-width: 100%;
        height: auto;
    }
    .about-right{
        width: 50%;
        padding: 7px;
        margin-top: 40px;
    }
    .about-right a{
        text-decoration: none;
        display: inline-block;
    }
    .about-right h4{
        font-size: 17px;
        font-weight: 600;
        text-decoration: none;
    }
    .about-right p{
        font-size: 14px;
        line-height: 22px;
        color: #444;
        padding-top: 10px;
    }
    .about-right ul{
        list-style: none;
        padding: 0;
        margin-top: 15px;
    }
    .about-right ul li{
        padding: 5px 0px;
        color: #444;
        /* display: block; */
    }
    .about-right ul li i{
        color: #3EC1D5;
        margin-right: 5px;
        font-size: 18px;
    }
    .about-color{
        background-color: #f9f9f9;
    }
}
@media (min-width:992px){
    .about-container{
        width: 960px;
        margin: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        /* text-align: center; */
        padding: 70px 0px 80px 0px;
    }
    .about-head h2{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 70px;
        text-align: center;
        position: relative;
    }
    .about-head h2::after{
        content: "";
        position: absolute;
        border: 1px solid #333 ;
        width: 15%;
        bottom: -20px;
        left: 0px;
        right: 0;
        margin: auto;
    }
    .about-foot{
        display: flex;
        flex-direction: row;

        height: auto;
    }
    .about-left{
        width:50% ;
        padding: 10px;
    }
    .about-left img{
        max-width: 100%;
        height: auto;
    }
    .about-right{
        width: 50%;
        padding: 10px;
        margin: 0;
    }
    .about-right a{
        text-decoration: none;
        display: inline-block;
    }
    .about-right h4{
        font-size: 17px;
        font-weight: 600;
        text-decoration: none;
    }
    .about-right p{
        font-size: 14px;
        line-height: 22px;
        color: #444;
        padding-top: 10px;
    }
    .about-right ul{
        list-style: none;
        padding: 0;
        margin-top: 15px;
    }
    .about-right ul li{
        padding: 5px 0px;
        color: #444;
        /* display: block; */
    }
    .about-right ul li i{
        color: #3EC1D5;
        margin-right: 5px;
        font-size: 18px;
    }
    .about-color{
        background-color: #f9f9f9;
    }

}

@media(min-width:1200px){
    .about-container{
        width: 1185px;
        margin: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        /* text-align: center; */
        padding: 70px 0px 80px 0px;
    }
    .about-head h2{
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 70px;
        text-align: center;
        position: relative;
    }
    .about-head h2::after{
        content: "";
        position: absolute;
        border: 1px solid #333 ;
        width: 15%;
        bottom: -20px;
        left: 0px;
        right: 0;
        margin: auto;
    }
    .about-foot{
        display: flex;
        flex-direction: row;

        height: auto;
    }
    .about-left{
        width:50% ;
        padding: 10px;
        margin: 0;
    }
    .about-left img{
        max-width: 100%;
        height: auto;
    }
    .about-right{
        width: 50%;
        padding: 13px;
        margin: 0;
    }
    .about-right a{
        text-decoration: none;
        display: inline-block;
    }
    .about-right h4{
        font-size: 17px;
        font-weight: 600;
        text-decoration: none;
    }
    .about-right p{
        font-size: 14px;
        line-height: 22px;
        color: #444;
        padding-top: 10px;
    }
    .about-right ul{
        list-style: none;
        padding: 0;
        margin-top: 15px;
    }
    .about-right ul li{
        padding: 5px 0px;
        color: #444;
        /* display: block; */
    }
    .about-right ul li i{
        color: #3EC1D5;
        margin-right: 5px;
        font-size: 18px;
    }
    .about-color{
        background-color: #f9f9f9;
    }

}
@media (min-width:1400px){
    .about-container{
        width: 1320px;
        margin: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        /* text-align: center; */
        padding: 70px 0px 80px 0px;
    }
    .about-head h2{
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 70px;
        text-align: center;
        position: relative;
    }
    .about-head h2::after{
        content: "";
        position: absolute;
        border: 1px solid #333 ;
        width: 15%;
        bottom: -20px;
        left: 0px;
        right: 0;
        margin: auto;
    }
    .about-foot{
        display: flex;
        flex-direction: row;

        height: auto;
    }
    .about-left{
        width:50% ;
        padding: 10px;
        margin: 0;
    }
    .about-left img{
        max-width: 100%;
        height: auto;
    }
    .about-right{
        width: 50%;
        padding: 13px;
        margin: 0;
    }
    .about-right a{
        text-decoration: none;
        display: inline-block;
    }
    .about-right h4{
        font-size: 17px;
        font-weight: 600;
        text-decoration: none;
    }
    .about-right p{
        font-size: 14px;
        line-height: 22px;
        color: #444;
        padding-top: 10px;
    }
    .about-right ul{
        list-style: none;
        padding: 0;
        margin-top: 15px;
    }
    .about-right ul li{
        padding: 5px 0px;
        color: #444;
        /* display: block; */
    }
    .about-right ul li i{
        color: #3EC1D5;
        margin-right: 5px;
        font-size: 18px;
    }
    .about-color{
        background-color: #f9f9f9;
    }
}

/*SERVICE-CONTAINER */

.service-container{
    width: 90%;
    height: auto;
    margin: auto;
    padding: 70px 0px 80px 0px;
}
.service-top h2{
    font-size: 30px;
    margin-bottom: 50px;
    font-weight: 600;
    text-align: center;
    position: relative;
}
.service-top h2::after{
    content: "";
    position: absolute;
    border: #333 solid 1px;
    width: 20%;
    left: 0;
    right: 0;
    bottom: -10px;
    margin: auto;
}
.service-box{
    color: #444;
    text-align: center;
    padding: 10px;
}
.service-box a{
    text-decoration: none;
}
.service-box i{
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}
.service-box h3{
    font-weight: 500;
    font-size: 24px;
    margin-top: 15px;
}
.service-box p{
    font-size: 14px;
    margin: 15px 0px 45px 0px;
    line-height: 22px;
}
.service-box:hover  a i{
    color: #3EC1D5;
}
.service-box:hover h3{
    color: #3EC1D5;
}

@media(min-width:576px){
    .service-container{
        width: 540px;
        height: auto;
        margin: auto;
        padding: 70px 0px 80px 0px;
    }
    .service-top h2{
        font-size: 30px;
        margin-bottom: 50px;
        font-weight: 600;
        text-align: center;
        position: relative;
    }
    .service-top h2::after{
        content: "";
        position: absolute;
        border: #333 solid 1px;
        width: 15%;
        left: 0;
        right: 0;
        bottom: -10px;
        margin: auto;
    }
    .service-foot{
        width: 540px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .service-box{
        color: #444;
        text-align: center;
        padding: 15px;
        width: 33.3333%;
    }
    .service-box a{
        text-decoration: none;
    }
    .service-box i{
        font-size: 36px;
        margin-bottom: 20px;
        color: #444;
    }
    .service-box h3{
        font-weight: 500;
        font-size: 24px;
        margin-top: 15px;
    }
    .service-box p{
        font-size: 14px;
        margin: 15px 0px 45px 0px;
        line-height: 26px;
    }
    .service-box:hover  a i{
        color: #3EC1D5;
    }
    .service-box:hover h3{
        color: #3EC1D5;
    }
}
@media(min-width:768px){
    .service-container{
        width: 720px;
        height: auto;
        margin: auto;
        padding: 70px 0px 80px 0px;
    }
    .service-top h2{
        font-size: 30px;
        margin-bottom: 50px;
        font-weight: 600;
        text-align: center;
        position: relative;
    }
    .service-top h2::after{
        content: "";
        position: absolute;
        border: #333 solid 1px;
        width: 12%;
        left: 0;
        right: 0;
        bottom: -15px;
        margin: auto;
    }
    .service-foot{
        width: 720px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .service-box{
        color: #444;
        text-align: center;
        padding: 15px;
        width: 33.3333%;
    }
    .service-box a{
        text-decoration: none;
    }
    .service-box i{
        font-size: 36px;
        margin-bottom: 20px;
        color: #444;
    }
    .service-box h3{
        font-weight: 500;
        font-size: 24px;
        margin-top: 15px;
    }
    .service-box p{
        font-size: 14px;
        margin: 15px 0px 45px 0px;
        line-height: 26px;
    }
    .service-box:hover  a i{
        color: #3EC1D5;
    }
    .service-box:hover h3{
        color: #3EC1D5;
    }
}
@media(min-width:992px){
    .service-container{
        width: 960px;
        height: auto;
        margin: auto;
        padding: 70px 0px 80px 0px;
    }
    .service-top h2{
        font-size: 30px;
        margin-bottom: 50px;
        font-weight: 600;
        text-align: center;
        position: relative;
    }
    .service-top h2::after{
        content: "";
        position: absolute;
        border: #333 solid 1px;
        width: 12%;
        left: 0;
        right: 0;
        bottom: -15px;
        margin: auto;
    }
    .service-foot{
        width: 960px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .service-box{
        color: #444;
        text-align: center;
        padding: 15px;
        width: 33.3333%;
    }
    .service-box a{
        text-decoration: none;
    }
    .service-box i{
        font-size: 36px;
        margin-bottom: 20px;
        color: #444;
    }
    .service-box h3{
        font-weight: 500;
        font-size: 24px;
        margin-top: 15px;
    }
    .service-box p{
        font-size: 14px;
        margin: 15px 0px 45px 0px;
        line-height: 26px;
    }
    .service-box:hover  a i{
        color: #3EC1D5;
    }
    .service-box:hover h3{
        color: #3EC1D5;
    }
}
@media(min-width:1200px){
    .service-container{
        width: 1185px;
        height: auto;
        margin: auto;
        padding: 70px 0px 80px 0px;
    }
    .service-top h2{
        font-size: 30px;
        margin-bottom: 50px;
        font-weight: 600;
        text-align: center;
        position: relative;
    }
    .service-top h2::after{
        content: "";
        position: absolute;
        border: #333 solid 1px;
        width: 12%;
        left: 0;
        right: 0;
        bottom: -15px;
        margin: auto;
    }
    .service-foot{
        width: 1185px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .service-box{
        color: #444;
        text-align: center;
        padding: 15px;
        width: 33.3333%;
    }
    .service-box a{
        text-decoration: none;
    }
    .service-box i{
        font-size: 36px;
        margin-bottom: 20px;
        color: #444;
    }
    .service-box h3{
        font-weight: 500;
        font-size: 24px;
        margin-top: 15px;
    }
    .service-box p{
        font-size: 14px;
        margin: 15px 0px 45px 0px;
        line-height: 26px;
    }
    .service-box:hover  a i{
        color: #3EC1D5;
    }
    .service-box:hover h3{
        color: #3EC1D5;
    }
}
@media (min-width:1400px){
    .service-container{
        width: 1320px;
        height: auto;
        margin: auto;
        padding: 70px 0px 80px 0px;
    }
    .service-top h2{
        font-size: 30px;
        margin-bottom: 50px;
        font-weight: 600;
        text-align: center;
        position: relative;
    }
    .service-top h2::after{
        content: "";
        position: absolute;
        border: #333 solid 1px;
        width: 12%;
        left: 0;
        right: 0;
        bottom: -15px;
        margin: auto;
    }
    .service-foot{
        width: 1320px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .service-box{
        color: #444;
        text-align: center;
        padding: 15px;
        width: 33.3333%;
    }
    .service-box a{
        text-decoration: none;
    }
    .service-box i{
        font-size: 36px;
        margin-bottom: 20px;
        color: #444;
    }
    .service-box h3{
        font-weight: 500;
        font-size: 24px;
        margin-top: 15px;
    }
    .service-box p{
        font-size: 14px;
        margin: 15px 0px 45px 0px;
        line-height: 26px;
    }
    .service-box:hover  a i{
        color: #3EC1D5;
    }
    .service-box:hover h3{
        color: #3EC1D5;
    }
}

/* TEAM-CONTAINER  */

.team-container{
    width: 90%px;
    margin: auto;
    height: auto;
    text-align: center;
    padding: 70px 0px 80px 0px;
}
.team-top h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 70px;
    position: relative;
    text-transform: capitalize;
}
.team-top h3::after{
    content: "";
    position: absolute;
    border: 1px solid #333;
    left: 0;
    right: 0;
    bottom:-15px;
    width: 20%;
    margin: auto;
}
.team-foot{
    width: 90%px;
    padding: 15px;
}
.team-member{
    margin-bottom: 50px;
}
.team-detail{
    position: relative;
    display: flex;
    flex-direction: column;
    outline: 1px solid #ddd;
}
.team-image img{
    max-width: 100%;
}
.team-image{
    position: relative;
}
.team-image::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
}
.team-image:hover::after{
    opacity: 1;
    transition: 0.3s;
}
.team-icon{
    position: absolute;
    left: 35%;
    top: 30%;
    opacity: 0;
    z-index: 99;
}
.team-list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.team-image:hover .team-icon{
    opacity: 1;
    top: 40%;
    transition: 1s;
}
.team-list li{
    display: inline-block;
}
.team-list li a{
    text-decoration: none;
    font-size: 12px;
    margin: 0px 5px;
    padding: 5px;
    height: 20px;
    width: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
}
.team-list li a:hover{
    background-color: #3EC1D5;
    transition: 0.3s;   
}
.team-name h4{
    font-size: 24px;
    font-weight: 500;
    margin-top: 10px;
    text-transform: capitalize;
}
.team-name h5{
    font-size: 15px;
    text-transform: capitalize;
    margin: 10px 0px 10px;
    font-weight: 400;
}

@media (min-width:576px) {
    .team-container{
        width: 540px;
        margin: auto;
        height: auto;
        text-align: center;
        padding: 70px 0px 80px 0px;
    }
    .team-top h3{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 70px;
        position: relative;
        text-transform: capitalize;
    }
    .team-top h3::after{
        content: "";
        position: absolute;
        border: 1px solid #333;
        left: 0;
        right: 0;
        bottom:-15px;
        width: 20%;
        margin: auto;
    }
    .team-foot{
        display: flex;
        justify-content: space-between;
    }
    .team-member{
        width: 25%;
        margin: 8px;
    }
    .team-detail{
        position: relative;
        display: flex;
        flex-direction: column;
        outline: 1px solid #ddd;
    }
    .team-image img{
        max-width: 100%;
    }
    .team-image{
        position: relative;
    }
    .team-image::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
    }
    .team-image:hover::after{
        opacity: 1;
        transition: 0.3s;
    }
    .team-icon{
        position: absolute;
        left: 40px;
        top: 40px;
        opacity: 0;
        z-index: 99;
        margin-left: -45px;
        transition: 1s;
    }
    .team-list{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .team-image:hover .team-icon{
        opacity: 1;
    }
    .team-list li{
        display: inline-block;
    }
    .team-list li a{
        text-decoration: none;
        font-size: 12px;
        margin: 0 3px;
        height: 20px;
        width: 20px;
        border: 1px solid #fff;
        border-radius: 50%;
        color: #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .team-list li a:hover{
        background-color: #3EC1D5;
        transition: 0.3s ease-in;   
    }
    .team-name h4{
        font-size: 24px;
        font-weight: 500;
        margin-top: 10px;
        text-transform: capitalize;
    }
    .team-name h5{
        font-size: 15px;
        text-transform: capitalize;
        margin: 10px 0px 10px;
        font-weight: 400;
    }
}
@media (min-width:768px){
    .team-container{
        width: 720px;
        margin: auto;
        height: auto;
        text-align: center;
        padding: 70px 0px 80px 0px;
    }
    .team-top h3{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 70px;
        position: relative;
        text-transform: capitalize;
    }
    .team-top h3::after{
        content: "";
        position: absolute;
        border: 1px solid #333;
        left: 0;
        right: 0;
        bottom:-15px;
        width: 15%;
        margin: auto;
    }
    .team-foot{
        display: flex;
        justify-content: space-between;
    }
    .team-member{
        width: 25%;
        margin: 8px;
    }
    .team-detail{
        position: relative;
        display: flex;
        flex-direction: column;
        outline: 1px solid #ddd;
    }
    .team-image img{
        max-width: 100%;
    }
    .team-image{
        position: relative;
    }
    .team-image::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
    }
    .team-image:hover::after{
        opacity: 1;
        transition: 0.3s;
    }
    .team-icon{
        position: absolute;
        left: 40px;
        top: 40px;
        opacity: 0;
        z-index: 99;
        margin-left: -20px;
        transition: 1s;
    }
    .team-list{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .team-image:hover .team-icon{
        opacity: 1;
    }
    .team-list li{
        display: inline-block;
    }
    .team-list li a{
        text-decoration: none;
        font-size: 12px;
        margin: 0 3px;
        height: 20px;
        width: 20px;
        border: 1px solid #fff;
        border-radius: 50%;
        color: #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .team-list li a:hover{
        background-color: #3EC1D5;
        transition: 0.3s ease-in;   
    }
    .team-name h4{
        font-size: 20px;
        font-weight: 500;
        margin-top: 10px;
        text-transform: capitalize;
    }
    .team-name h5{
        font-size: 15px;
        text-transform: capitalize;
        margin: 10px 0px 10px;
        font-weight: 400;
    }
}
@media (min-width:992px){
    .team-container{
        width: 960px;
        margin: auto;
        height: auto;
        text-align: center;
        padding: 70px 0px 80px 0px;
    }
    .team-top h3{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 70px;
        position: relative;
        text-transform: capitalize;
    }
    .team-top h3::after{
        content: "";
        position: absolute;
        border: 1px solid #333;
        left: 0;
        right: 0;
        bottom:-15px;
        width: 12%;
        margin: auto;
    }
    .team-foot{
        display: flex;
        justify-content: space-between;
    }
    .team-member{
        width: 25%;
        margin: 8px;
    }
    .team-detail{
        position: relative;
        display: flex;
        flex-direction: column;
        outline: 1px solid #ddd;
    }
    .team-image img{
        max-width: 100%;
    }
    .team-image{
        position: relative;
    }
    .team-image::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
    }
    .team-image:hover::after{
        opacity: 1;
        transition: 0.3s;
    }
    .team-icon{
        position: absolute;
        left: 40px;
        top: 40px;
        opacity: 0;
        z-index: 99;
        margin-left: 13px;
        transition: 1s;
    }
    .team-list{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .team-image:hover .team-icon{
        opacity: 1;
    }
    .team-list li{
        display: inline-block;
    }
    .team-list li a{
        text-decoration: none;
        font-size: 12px;
        margin: 0 3px;
        height: 20px;
        width: 20px;
        border: 1px solid #fff;
        border-radius: 50%;
        color: #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .team-list li a:hover{
        background-color: #3EC1D5;
        transition: 0.3s ease-in;   
    }
    .team-name h4{
        font-size: 20px;
        font-weight: 500;
        margin-top: 10px;
        text-transform: capitalize;
    }
    .team-name h5{
        font-size: 15px;
        text-transform: capitalize;
        margin: 10px 0px 10px;
        font-weight: 400;
    }
}
@media (min-width:1200px){
    .team-container{
        width: 1185px;
        margin: auto;
        height: auto;
        text-align: center;
        padding: 70px 0px 80px 0px;
    }
    .team-top h3{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 70px;
        position: relative;
        text-transform: capitalize;
    }
    .team-top h3::after{
        content: "";
        position: absolute;
        border: 1px solid #333;
        left: 0;
        right: 0;
        bottom:-15px;
        width: 12%;
        margin: auto;
    }
    .team-foot{
        display: flex;
        justify-content: space-between;
    }
    .team-member{
        width: 25%;
        margin: 8px;
    }
    .team-detail{
        position: relative;
        display: flex;
        flex-direction: column;
        outline: 1px solid #ddd;
    }
    .team-image img{
        max-width: 100%;
    }
    .team-image{
        position: relative;
    }
    .team-image::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
    }
    .team-image:hover::after{
        opacity: 1;
        transition: 0.3s;
    }
    .team-icon{
        position: absolute;
        left: 40px;
        top: 40px;
        opacity: 0;
        z-index: 99;
        margin-left: 38px;
        transition: 1s;
    }
    .team-list{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .team-image:hover .team-icon{
        opacity: 1;
    }
    .team-list li{
        display: inline-block;
    }
    .team-list li a{
        text-decoration: none;
        font-size: 12px;
        margin: 0 3px;
        height: 20px;
        width: 20px;
        border: 1px solid #fff;
        border-radius: 50%;
        color: #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .team-list li a:hover{
        background-color: #3EC1D5;
        transition: 0.3s ease-in;   
    }
    .team-name h4{
        font-size: 20px;
        font-weight: 500;
        margin-top: 10px;
        text-transform: capitalize;
    }
    .team-name h5{
        font-size: 15px;
        text-transform: capitalize;
        margin: 10px 0px 10px;
        font-weight: 400;
    }
}
@media (min-width:1400px){
    .team-container{
        width: 1320px;
        margin: auto;
        height: auto;
        text-align: center;
        padding: 70px 0px 80px 0px;
    }
    .team-top h3{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 70px;
        position: relative;
        text-transform: capitalize;
    }
    .team-top h3::after{
        content: "";
        position: absolute;
        border: 1px solid #333;
        left: 0;
        right: 0;
        bottom:-15px;
        width: 8%;
        margin: auto;
    }
    .team-foot{
        display: flex;
        justify-content: space-between;
    }
    .team-member{
        width: 25%;
        margin: 8px;
    }
    .team-detail{
        position: relative;
        display: flex;
        flex-direction: column;
        outline: 1px solid #ddd;
    }
    .team-image img{
        max-width: 100%;
    }
    .team-image{
        position: relative;
    }
    .team-image::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
    }
    .team-image:hover::after{
        opacity: 1;
        transition: 0.3s;
    }
    .team-icon{
        position: absolute;
        left: 40px;
        top: 40px;
        opacity: 0;
        z-index: 99;
        margin-left: 54px;
        transition: 1s;
    }
    .team-list{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .team-image:hover .team-icon{
        opacity: 1;
    }
    .team-list li{
        display: inline-block;
    }
    .team-list li a{
        text-decoration: none;
        font-size: 12px;
        margin: 0 3px;
        height: 20px;
        width: 20px;
        border: 1px solid #fff;
        border-radius: 50%;
        color: #fff;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .team-list li a:hover{
        background-color: #3EC1D5;
        transition: 0.3s ease-in;   
    }
    .team-name h4{
        font-size: 20px;
        font-weight: 500;
        margin-top: 10px;
        text-transform: capitalize;
    }
    .team-name h5{
        font-size: 15px;
        text-transform: capitalize;
        margin: 10px 0px 10px;
        font-weight: 400;
    }
}
/* REV-CONTAINER  */
.rev-container{
    background-image: url(images/reviews-bg.jpg);
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    position: relative;
}
.left-rev{
    width: 100%;
}
.left-rev img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
.right-rev{
    background-color: rgba(0, 0, 0, 0.8);
}
.details-rev{
    padding: 20px 30px;
}
.details-rev h3{
    font-size: 24px;
    color: #fff;
    padding: 10px 18px;
}
.details-rev h5{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 34px;
    padding: 25px 0px 25px 18px;
}
.details-rev button{
    border: 1px solid #fff;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    margin: 30px 0px 0px 18px;
    padding: 12px 40px;
    text-align: center;
    transition: all 0.4s ease 0s;
    background: transparent;
}
.details-rev button:hover{
    background-color: #3EC1D5;
    border: none;
}
@media (min-width:576px){
    .rev-container{
        background-image: url(images/reviews-bg.jpg);
        background-position: top center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: auto;
        position: relative;
    }
    .left-rev{
        width: 100%;
    }
    .left-rev img{
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }
    .right-rev{
        background-color: rgba(0, 0, 0, 0.8);
    }
    .details-rev{
        padding: 20px 30px;
    }
    .details-rev h3{
        font-size: 24px;
        color: #fff;
        padding: 10px 18px;
    }
    .details-rev h5{
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        line-height: 34px;
        padding: 25px 0px 25px 18px;
    }
    .details-rev button{
        border: 1px solid #fff;
        border-radius: 30px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 17px;
        font-weight: 600;
        margin: 0px 0px 0px 18px;
        padding: 12px 40px;
        text-align: center;
        transition: all 0.4s ease 0s;
        background: transparent;
    }
    .details-rev button:hover{
        background-color: #3EC1D5;
        border: none;
    }
}
@media(min-width:768px){
    .rev-container{
        background-image: url(images/reviews-bg.jpg);
        background-position: top center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: auto;
        position: relative;
    }
    .left-rev{
        width: 50%;
    }
    .left-rev img{
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }
    .right-rev{
        background-color: rgba(0, 0, 0, 0.8);
    }
    .details-rev{
        padding: 20px 30px;
    }
    .details-rev h3{
        font-size: 24px;
        color: #fff;
        padding: 10px 18px;
    }
    .details-rev h5{
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        line-height: 34px;
        padding: 25px 0px 25px 18px;
    }
    .details-rev button{
        border: 1px solid #fff;
        border-radius: 30px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 17px;
        font-weight: 600;
        margin: 30px 0px 0px 18px;
        padding: 12px 40px;
        text-align: center;
        transition: all 0.4s ease 0s;
        background: transparent;
    }
    .details-rev button:hover{
        background-color: #3EC1D5;
        border: none;
    }
}
@media(min-width:992px){
    .rev-container{
        background-image: url(images/reviews-bg.jpg);
        background-position: top center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }
    .left-rev{
        width: 100%;
        width: 50%;
    }
    .left-rev img{
        max-width: 100%;
        height: auto;
    }
    .right-rev{
        background-color: rgba(0, 0, 0, 0.8);
    }
    .details-rev{
        padding: 20px 30px;
    }
    .details-rev h3{
        font-size: 24px;
        color: #fff;
        padding: 10px 18px;
    }
    .details-rev h5{
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        line-height: 34px;
        padding: 25px 0px 25px 18px;
    }
    .details-rev button{
        border: 1px solid #fff;
        border-radius: 30px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 17px;
        font-weight: 600;
        margin: 30px 0px 0px 18px;
        padding: 12px 40px;
        text-align: center;
        transition: all 0.4s ease 0s;
        background: transparent;
    }
    .details-rev button:hover{
        background-color: #3EC1D5;
        border: none;
    }

}
@media (min-width:1200px){
    .rev-container{
        background-image: url(images/reviews-bg.jpg);
        background-position: top center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }
    .left-rev{
        width: 100%;
        width: 50%;
    }
    .left-rev img{
        max-width: 100%;
        height: auto;
    }
    .right-rev{
        background-color: rgba(0, 0, 0, 0.8);
    }
    .details-rev{
        padding: 20px 30px;
    }
    .details-rev h3{
        font-size: 24px;
        color: #fff;
        padding: 10px 18px;
    }
    .details-rev h5{
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        line-height: 34px;
        padding: 25px 0px 25px 18px;
    }
    .details-rev button{
        border: 1px solid #fff;
        border-radius: 30px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 17px;
        font-weight: 600;
        margin: 30px 0px 0px 18px;
        padding: 12px 40px;
        text-align: center;
        transition: all 0.4s ease 0s;
        background: transparent;
    }
    .details-rev button:hover{
        background-color: #3EC1D5;
        border: none;
    }

}
@media(min-width:1400px){
    .rev-container{
        background-image: url(images/reviews-bg.jpg);
        background-position: top center;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: auto;
        position: relative;
        display: flex;
        flex-direction: row;
        margin-bottom: 30px;
    }
    .left-rev{
        width: 100%;
        width: 50%;
    }
    .left-rev img{
        max-width: 100%;
        height: auto;
    }
    .right-rev{
        background-color: rgba(0, 0, 0, 0.8);
    }
    .details-rev{
        padding: 20px 30px;
    }
    .details-rev h3{
        font-size: 24px;
        color: #fff;
        padding: 10px 18px;
    }
    .details-rev h5{
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        line-height: 34px;
        padding: 25px 0px 25px 18px;
    }
    .details-rev button{
        border: 1px solid #fff;
        border-radius: 30px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 17px;
        font-weight: 600;
        margin: 30px 0px 0px 18px;
        padding: 12px 40px;
        text-align: center;
        transition: all 0.4s ease 0s;
        background: transparent;
    }
    .details-rev button:hover{
        background-color: #3EC1D5;
        border: none;
    }

}

/* PORTFOLIO-CONTAINER */
